# Auto detect text files and perform LF normalization
* text=auto

# Ignore HTML file
src/Sys/Windows/NtCodes.html -linguist-documentation

# Highlight files with internal conventions
*.h     linguist-language=cpp
*.mac   linguist-language=cpp
*.impl  linguist-language=cpp
